<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daniel.pasoporti">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name='android.permission.WRITE_EXTERNAL_STORAGE'/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Welcome"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registro.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cliente.ClienteWelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cliente.ProgramarServicios.ProgramarServicioActivity"
            android:label="@string/title_activity_programar_servicio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PerfilActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cliente.Acompanados.AcompanadosActivity"
            android:label="@string/title_activity_acompanados"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Historial.HistorialActivity"
            android:label="@string/title_activity_historial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cliente.Ayuda.AyudaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Acompanante.AcompananteWelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Acompanante.AcompananteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Historial.HistorialDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ServicioActivo.ServicioActivo"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBGg9vM4vTt80HWpHtrfG6IxitR1X2Geuw"/>
    </application>

</manifest>